.calculator {
  text-align: center;
  margin:0 auto;
  padding-top:5px;
  width: 400px;

}
h1 {
  background-color: #ffffff;
  text-align: center;
  background-position: center;
  width: 100%;
  box-sizing: border-box;
  padding-top: -10px;
}
body {
  background-color: #414141;
  background-position: center;
  background-size: 100%;
}
.calculator-screen {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  color: #000000;
  text-align: right;
  font-size: 50px;
  border: none;
  padding: 0px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 10px;
}
.calculator-keys {
  width: 100%;
}
.row{
  display: flex;
}

button{
  height: 80px;
  background-color: #a3a3a3;
  border: 1px solid  #ffffff;
  font-size: 40px;
  color: #fff;
  width: 25%;
  outline: none;
  border-radius: 10px;
  margin:5px;
  cursor : pointer;
}
button:active {
  position: relative;
  top: 7px;
}

.all-clear, .zero-btn{
  width: 50%
}
.operator, .equal-sign {
  background-color: #00baff;
}
.button:hover {
  background-color: #414141;
}
.operator:hover {
  background-color: #0029ff;
}
.number:hover {
  background-color: #414141;
}
.all-clear:hover {
  background-color: #414141;
}
.precentage:hover {
  background-color: #414141;
}
.decimal:hover {
  background-color: #414141;
}
.equal-sign:hover {
  background-color: #0029ff;
}
